# Vercel
.vercel

# Environment / secrets
.env
.env.example
.env.local
.env.*.local

# Vite build output
dist

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Node
node_modules/
